* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #f8f9fb;
    color: #222;
}


header {
    background: white;
    padding: 18px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.8);
}


.logo {
    font-size: 20px;
    font-weight: 700;
    color: #2ecc71;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.btn {
    background: #2ecc71;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}


.hero {
    text-align: center;
    padding: 80px 10%;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

