* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #f8f9fb;
    color: #222;
}


header {
    background: white;
    padding: 18px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.8);
}


.logo {
    font-size: 20px;
    font-weight: 700;
    color: #2ecc71;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.btn {
    background: #2ecc71;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}



 .hero {
     
    text-align: center;
    padding: 80px 10%;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}
  
   
  




    
     
   


.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}
.hero h1 span {
    color: #2ecc71;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.hero-buttons a {
    margin: 0 10px;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.primary {
    background: #2ecc71;
    color: white;
}

.secondary {
    border: 2px solid white;
    color: white;
}

/* ===== PROBLEMS ===== */
.problems {
    padding: 70px 10%;
    background: white;
    text-align: center;
}

.problems h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.problem-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background: #f4f6fa;
    padding: 25px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #555;
}


.solution {
    padding: 70px 10%;
    background: #f8f9fb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.solution-box {
    flex: 1;
    background: white;
    padding: 50px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
}

.solution-text {
    flex: 1;
}

.solution-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.solution-text ul li {
    margin-bottom: 10px;
}


.cta {
    text-align: center;
    padding: 70px 10%;
    background: white;
}

.cta h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


footer {
    background: #0f2027;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}


.btn,
.primary,
.secondary {
    transition: all 0.3s ease;
}


.btn:hover,
.primary:hover {
    background: #27ae60;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.secondary:hover {
    background: white;
    color: #0f2027;
    transform: translateY(-3px);
}


